body{ background-color: #EEEEE0; }

footer{ background-color: transparent; height: 150px; }

/*Inicio*/
/*------------------------------------------------------------------------------------------------------------------------*/
.painel-notas .card{width: 18rem;}
